<!DOCTYPE html>
<html>
<head>

    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/angular.treeview.min.js"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/Content/angular.treeview.css" rel="stylesheet" />
    <script src="~/scripts/AngularApp/App.js"></script>
    <script src="~/scripts/AngularApp/Controllers/treeController.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container body-content" ng-app="WPTngApp"> 
        @RenderBody()
    </div>
</body>
</html>
